@{
    ViewData[@"Title"] = $@"{nameof(Command)}";
}

<div class="text-center">
    <h1>Command Design Pattern</h1>

    <p><strong>HINT:</strong> Use your code below (and then remove this paragraph)</p>
</div>
