@{
    ViewData[@"Title"] = $@"{nameof(Command)}";
}

<div class="text-center">
    <h1>Command Design Pattern</h1>

    <p><strong>HINT:</strong>https://www.youtube.com/watch?v=QeRszt0OKUw</p>
</div>
