@{
    ViewData[@"Title"] = @"Facade";
}

<div class="text-center">
    <h1>Facade Design Pattern</h1>
    
    <p><strong>HINT:</strong> Use your code below (and then remove this paragraph)</p>
</div>
